@model FerreteriaDiego.Models.Detalle_Factura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Detalle_Factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descricion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio_unitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio_unitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descuento_porcentaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descuento_porcentaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descuento_valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descuento_valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iva_porcentaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iva_porcentaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iva_valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iva_valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Factura.numero_fatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factura.numero_fatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.codigo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_detalle }) |
    @Html.ActionLink("Back to List", "Index")
</p>
